[2018-04-10 20:36] uncledent opened #1 "Build fails"
FAILURE: Build failed with an exception.

* Where:
Build file '---/node_modules/react-native-view-overflow/android/build.gradle' line: 5

* What went wrong:
A problem occurred evaluating project ':react-native-view-overflow'.

the module is linked

[2018-04-10 20:37] sibelius commented on #1
add this https://github.com/entria/react-native-view-overflow/blob/master/android/build.gradle#L5

to your project gradle config

[2018-04-10 20:38] uncledent commented on #1
My god you are fast :) Thanks, will try it out

[2018-04-10 22:24] #1 closed

[2018-04-18 16:43] AndreiCalazans opened #2 "Error on build."
### Reproduce:

1. Start a project with react-native init.
2. yarn add react-native-view-overflow
3. react-native link react-native-view-overflow

[code]

It ran well after I downgraded the package to use version 2 of gradle.

[2018-04-18 17:02] sibelius commented on #2
please upgrade to gradle 3

we should improve docs to show required steps

[2018-04-18 17:02] #2 closed

[2018-04-25 13:16] NetPumi2 opened #4 "Could not find method google()"
Hi i always have this error
[code]

[2018-04-25 13:17] sibelius commented on #4
You need to upgrade to gradle 3

follow this build.gradle
https://github.com/react-native-community/rncamera-example/blob/master/android/build.gradle

and this one

https://github.com/react-native-community/rncamera-example/blob/master/android/app/build.gradle

[2018-04-25 13:24] arielLeverate opened #5 "Cocoapods installation error"
Hi,

I tried installing via Cocoapods, but get an error over "homepage" in the podspec.

can you update the ios/RNViewOverflow.podspec with the below line of code

`  s.homepage     = "https://github.com/entria/react-native-view-overflow"`

thanks.

[2018-04-25 13:27] sibelius commented on #5
we don't use and we don't know much about cocoapods

we gonna accept a PR to fix this

[2018-04-25 13:28] sibelius commented on #4
You need `        maven { url 'https://maven.google.com' }`
[code]

[2018-04-25 17:42] sibelius commented on #5
fixed here https://github.com/entria/react-native-view-overflow/pull/6

[2018-04-25 17:42] #5 closed

[2018-04-25 17:42] sibelius commented on #4
reopen if needed

[2018-04-25 17:42] #4 closed

[2018-04-26 20:37] testshallpasswork commented on #4
For reference: https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration

[2018-04-26 21:02] testshallpasswork opened #7 "Not working for Flatlist items"
I have a TabBar component and I'm adding a badge to a tab that is inside a Flatlist. I tried this module out and I'm not getting expected results.

**Code snippet**
[code]

**Android**
<img width="85" alt="screen shot 2018-04-26 at 4 40 05 pm" src="https://user-images.githubusercontent.com/16087561/39331559-e89fb6d4-4972-11e8-9905-d7b8cf269576.png">

**iOS / expected**
![screen shot 2018-04-26 at

[2018-04-26 21:12] sibelius commented on #7
can you remove `overflow: 'visible'`?

can you try to use `ViewOverflow` in each item?

[2018-04-27 05:04] CmerCy132 opened #8 "cannot find symbol for android"
Error :

error: cannot find symbol
import com.reactlibrary.RNViewOverflowPackage;

symbol:   class RNViewOverflowPackage
location: package com.reactlibrary

error: cannot find symbol
                    new RNViewOverflowPackage()

symbol: class RNViewOverflowPackage

build.gradle:

    buildscript {
        repositories {
            jcenter()
            maven { url 'https://maven.google.com' }

[2018-04-27 12:24] sibelius commented on #8
your link is wrong

[2018-04-30 13:07] CmerCy132 commented on #8
What link to I need to use?

[2018-04-30 13:13] sibelius opened #9 "Add an example"

[2018-05-01 16:43] floringit opened #10 "Border radius"
Hi, really useful component. But it seems that border radius is not working on android for ViewOverflow components. Do you have any idea?

[2018-05-01 16:51] sibelius commented on #10
Can u share a sample repository with your issue?

[2018-05-02 03:36] floringit commented on #10
Hi, unfortunately no. But I made a [screenshot](https://content.screencast.com/users/FlorinTest/folders/Jing/media/cbd12445-4241-41f5-830f-7e38544dd79b/00000012.png).

The style for ViewOverflow component:

`flex: 1,
        display: 'flex',
        flexDirection: 'column',
        minHeight: 200,
        backgroundColor: '#fff',
        padding: 24,
        elevation: 3,
        shadowColor: 'rgb

[2018-05-02 16:50] floringit commented on #10
Yes. The grey box is a sample view woth border radius. The code is the same as yours above.

[2018-05-03 04:33] floringit commented on #10
It actualy looks like this:

[code]

[code]

[2018-05-03 21:00] jgfidelis commented on #7
@testshallpasswork, did you find a solution or workaround for this problem?

[2018-05-04 15:01] testshallpasswork commented on #7
@jgfidelis I did not yet. I have been distracted with another task. I'm looking to try some other things soon.

[2018-05-06 22:02] UrbanChrisy opened #11 "The IOS side of this library is not needed."
This library does not use the IOS native code so why have it there in the first place, if you can explain why its needed I wont make a pull request to remove it, cause its working fine on mine without it.

[2018-05-07 00:39] sibelius commented on #11
That’s true, we can remove it

Send a pull request and we review it

[2018-05-07 05:34] xiaweiss commented on #7
![image](https://user-images.githubusercontent.com/17960084/39686254-915e2c58-51fa-11e8-9c97-9bbe019a4f62.png)
I want to use absolute positioning to do the waterfall flow. So I'm going to give ’renderItem’ an absolute position.
But in fact, the renderItem is wrapped by the View and the CellRenderer, so it doesn't work.

[2018-05-07 07:17] xiaweiss commented on #7
@testshallpasswork @jgfidelis  it worked!  you need to use CellRendererComponent and set to ViewOverflow to RenderItem root

try this:
[code]

[2018-05-07 11:59] #7 closed

[2018-05-08 04:17] xiaweiss opened #13 "onPress cannot work outside the ViewOverflow area."
![image](https://user-images.githubusercontent.com/17960084/39737732-a206d0cc-52b9-11e8-974c-0b03b6261de5.png)

[code]

[2018-05-08 05:37] xiaweiss opened #14 "Usage outside the ViewOverflow area"
normal Useage
![image](https://user-images.githubusercontent.com/17960084/39737998-0a49aa00-52bb-11e8-9fc6-58f4a57783d8.png)
[code]
let we set outside the ViewOverflow area
`bottom: -25` change to `bottom: -50`
![image](https://user-images.githubusercontent.com/17960084/39738057-50a45054-52bb-11e8-9a1b-973cbb118bfb.png)

to fixed it, we can replace View with ViewOverflow
[code]
now we can see it
!

[2018-05-08 12:33] JCMais commented on #14
Every View with overflowing area must have as parent another `ViewOverflow` component.

[2018-05-08 14:45] felippepuhle commented on #13
zIndex?

[2018-05-09 01:34] xiaweiss commented on #7
@testshallpasswork please checked your code. renderItem also need ViewOverflow. The resaon you can see issue #14

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-09 18:37] testshallpasswork commented on #7
@xiaweiss I had that but the problem I faced was the Flatlist is horizontal and it would not overflow/overlap components outside the context of the Flatlist. I was able to address by adding the outside component (in my case a top navigation bar) that was above the Flatlist and render it as the header. After doing so, it would overlap correctly. I'm not sure if this was best solution but it's what

[2018-05-13 10:11] #8 closed

[2018-05-14 21:12] #11 closed

[2018-05-15 14:17] sibelius opened #19 "remove windows bridge"
I don't know if windows has overflow problems, so we should just remove it

[2018-05-15 17:04] conyewest opened #20 "Feature Request: Animated View Support"
### Feature Request
Support for overflow enabled Animated View equivalents.

[2018-05-15 17:17] conyewest commented on #20
@sibelius That worked perfectly! Awesome, thanks for the help I really appreciate it! 👍

[2018-05-18 17:55] gabrielbull commented on #13
zIndex does not work

[2018-05-21 22:36] #19 closed

[2018-05-22 13:14] jgcmarins opened #23 "Add few images to README"

[2018-05-24 14:25] Haraldson opened #24 "Naming: ViewWithoutOverflow"
Seeing this when inspecting the view hierarchy is just really confusing, be it if you’re on iOS or Android. Why was it named this way, when the whole point of this module is to enable overflow?

[2018-05-24 14:29] sibelius commented on #24
there are some images and explanations here https://medium.com/entria/solving-view-overflow-in-android-reactnative-f961752a75cd

maybe we can add those to readme.md

[2018-05-24 14:32] Haraldson commented on #24
I understand what this module does, but the naming is confusing. What are you trying to convey with the name `ViewWithoutOverflow`? What does it mean that it is **without** overflow?

[2018-05-24 14:42] sibelius commented on #24
naming things is a hard problem

what would be a good name?

[2018-05-24 14:45] Haraldson commented on #24
In my code base, I name it like this;

`import OverflowableView from 'react-native-view-overflow'`

This doesn’t change how it appears when inspecting of course, but it makes a lot more sense to me anyway. For iOS, you could simply exit early and return `View` as-is, perhaps?

[2018-05-25 19:58] jascaniojah opened #25 "Build failes with :Could not find method google() for arguments [] on repository container."
Im new using RN, after adding this library im facing this at building

[2018-05-25 20:04] sibelius commented on #25
add this to your android/build.gradle

[code]

maybe we need to add these instructions to docs

[2018-05-25 20:04] #25 closed

[2018-05-25 20:05] sibelius commented on #24
`Overflowable` looks good, we gonna think about it

[2018-05-25 20:20] jascaniojah commented on #25
Still having the same issue.

My android/build.gradle goes like this:

// Top-level build file where you can add configuration options common to all sub-projects/modules.

buildscript {
    repositories {
        jcenter()
        google()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:2.2.3'
        classpath 'com.google.gms:google-services:3.1.2'

        // NOTE: Do

[2018-05-25 20:22] sibelius commented on #25
check all the lines you need gradle 3

`classpath 'com.android.tools.build:gradle:3.1.0'`

[2018-05-27 10:03] Summys commented on #10
I'm facing the same problem, did you find any solution ?

[2018-05-27 12:52] floringit commented on #10
Hi. Yes, as workaround I added another child View inside ViewOverflow with full width an height and added border radius to that View.

[2018-05-28 14:20] jgcmarins commented on #10
can we close this one?

[2018-05-29 12:30] GuySerfaty opened #26 "borderRadius doesn't work for ViewOverflow component"
I tried to create an Image inside View with borderRadius: 20 (below) but got without

<img width="531" alt="screen shot 2018-05-29 at 14 58 54" src="https://user-images.githubusercontent.com/17720782/40657929-384a39b8-6352-11e8-9375-0669f263b6cc.png">

[2018-05-29 12:32] sibelius commented on #26
check this https://github.com/entria/react-native-view-overflow/issues/10

[2018-05-29 22:40] conradoramalho opened #27 "Error: Native component for "RNViewOverflow" does not exist"
I added the package and I did the link using `react-native link react-native-view-overflow` , but I still have the same error:

Invariant Violation: Native component for "RNViewOverflow" does not exist

"react": "16.3.1",
"react-native": "~0.55.2",
"react-native-view-overflow": "^0.0.3",

[2018-05-29 23:18] sibelius commented on #27
Can u create a repo with this problem?

[2018-05-30 12:11] vbraeke commented on #27
:+1:

[2018-05-30 12:12] vbraeke commented on #27
I got the same error.

[2018-05-30 12:12] vbraeke commented on #27
I got the same error any solution ?

[2018-05-30 13:58] leighPri commented on #27
I also have this issue.

At first I found that `react-native link` failed to add new `RNViewOverflowPackage()` but the problem persists after adding it.

[2018-05-30 16:23] Amurmurmur opened #29 "Doesnt build on Android"
It linked just fine, however upon build gradle throws the following:
[code]

[2018-05-30 16:31] sibelius commented on #29
Check example config build.gradle

[2018-05-30 16:31] #29 closed

[2018-05-30 23:50] marcojr opened #30 "> Could not find method google() for arguments [] on repository container."
I just installed this and now my android app refuses to run...

* Where:
Build file '/Users/marcojr/Projects/showCase/react_native_js/node_modules/react-native-view-overflow/android/build.gradle' line: 5

* What went wrong:
A problem occurred evaluating project ':react-native-view-overflow'.

[2018-05-31 01:18] sibelius commented on #30
Check example code build.gradle and closed issues

[2018-05-31 01:18] #30 closed

[2018-05-31 09:08] marcojr commented on #25
Still not working for me...Before added google(),  'com.android.tools.build:gradle:3.1.0' on my build.gradle:

* Where:
Build file '/Users/marcojr/Projects/showCase/react_native_js/node_modules/react-native-view-overflow/android/build.gradle' line: 5

* What went wrong:
A problem occurred evaluating project **':react-native-view-overflow'**.

Then I added 'com.android.tools.build:gradle:3.1.0' on

[2018-05-31 11:47] marcojr commented on #25
What that means, dude ? do you mind to be a little bit specific about your orientation ? what example build.gradle ?

[2018-05-31 12:13] sibelius commented on #25
https://github.com/entria/react-native-view-overflow/blob/master/ViewOverflowExample/android/build.gradle#L25

[2018-05-31 15:37] vbraeke opened #31 "Animated view not working"
## Environnement

Environment:
  OS: Windows 7
  Node: 8.11.1
  Yarn: Not Found
  npm: 5.6.0
  Watchman: Not Found
  Xcode: N/A
  Android Studio: Not Found

Packages: (wanted => installed)
  react: 16.3.1 => 16.3.1
  react-native: 0.55.4 => 0.55.4

## Issue
My Animated View is not taking the overflow inside a ScrollView Component when I'm trying to drag it outside of the scrollview is there any wo

[2018-05-31 18:35] alejandropinson commented on #13
@gabrielbull  Did you managed to solve this?

[2018-05-31 18:35] gabrielbull commented on #13
@alejandropinson No, onPress does not work in overflowed area with this library.

[2018-05-31 18:37] alejandropinson commented on #13
@gabrielbull  Did you find another workaround with another library, Im creating a dropdown and I need the overflow functionality :/, Thanks anyways! :)

[2018-05-31 18:40] gabrielbull commented on #13
@alejandropinson You can start looking for a solution here: https://stackoverflow.com/questions/27010172/clipped-button-doesnt-receive-touch-input and fix this library with a PR ;-)

[2018-05-31 20:00] alejandropinson commented on #13
Found this https://stackoverflow.com/questions/27727981/android-passing-touch-events-of-a-child-view-drawn-outside-of-view-clip-bounds, I tried to implement the first answer but the app crashes, I'm also quite ignorant in android native development. If anyone could give it a try...

`@Override
    public boolean onTouchEvent(MotionEvent event) {
        switch (event.getAction()) {
            cas

[2018-06-05 20:38] ethanyuwang opened #32 "Overflow view is not touchable"
![1528230775974](https://user-images.githubusercontent.com/17556945/41001147-fb4ece34-68c4-11e8-8a4d-d24e8a788ad2.jpg)
I have wrapped the toolbar in the above picture in `ViewOverlfow` and get the modal to properly display. However, the modal is only touchable within the area of the toolbar (red rectangular), and not touchable in the blue rectangular area. Is it possible to make the entire modal t

[2018-06-07 18:52] yakirbu commented on #27
Same error, still happens

[2018-06-07 19:37] conradoramalho commented on #27
Did you create the project using create-react-native-app?

[2018-06-07 19:44] yakirbu commented on #27
@conradoramalho Indeed, It won't work with expo?

[2018-06-11 14:41] maxaggedon commented on #25
Hey @sibelius, would you care to explain why this step is necessary?
I don't have experience developing android apps (apart from react-native) and I have never had to add anything like this to my gradle config when installing native modules.

[2018-06-11 14:52] sibelius commented on #25
this is required for gradle 3

[2018-06-11 15:19] maxaggedon commented on #25
Ok. But why is it necessary to use gradle 3 then ?
Apart from the fact that I try to understand this complementary config step. I still get the error even after I copy the config from the exemple... It's a shame but I guess it will be quicker for me to tweak my layout in order to make it work than trying to use this package.

[2018-06-11 15:23] sibelius commented on #25
all packages are moving to gradle 3 at least

gradle 4 is already available

gradle 2 will be deprecated by Google in the end of this year, so we should upgrade

we use gradle 3 in all our projects, so we'd like to keep consistency

we've provided an example to make this process easier https://github.com/entria/react-native-view-overflow/tree/master/ViewOverflowExample

[2018-06-11 15:59] maxaggedon commented on #25
Thanks a lot for the details!

As it now seemed worth investigating a little further, I finally made it work. For those who still have not updated gradle in their react native app, here is what I did:

In **android/gradle/wrapper/gradle-wrapper.properties**:
[code]

In **android/build.gradle**:
[code]

And in order ro remove warnings, in **android/app/build.gradle**:
[code]

[2018-06-11 16:32] sibelius commented on #25
can u send this diff to our docs? it could help a lot of people

[2018-06-12 07:32] maxaggedon commented on #25
I would be glad to help sharing this. But I'm not sure whet me exactly by

do you want me to send a PR to add it to the docs ? If that's the case, no problem I will do it ;)

Moreover, if I understand well, this is a problem that is going to happen to a lot of people (who bootstrapped their app a while ago) when all packages will require gradle 3+, am I right ?

[2018-06-12 14:41] MinaFSedrak commented on #25
still has this issue !!!

[2018-06-17 00:36] ShaMan123 opened #33 "Styling a container overrides children's overflow"
### Wrapping a `<ViewOverflow>` with `<TouchableOpacity>` overrides the overflow.
**First thing's first - Thanks for this module.**

so...

- expected behavior: `<ViewOverflow>` predecessors will overflow properly, pressing will invoke opacity change on entire `<View>`
- actual behavior: `<ViewOverflow>` is being _clipped_, pressing invokes opacity change on entire `<View>`

I'm new to RN, wanted

[2018-06-17 00:52] ShaMan123 commented on #33
#32 #31 might be related

[2018-06-17 00:54] ShaMan123 commented on #32
try changing:
[code]
to

[code]

[2018-06-21 07:50] bosung90 opened #34 "Android Build fails"
[code]

[2018-06-21 10:09] sibelius commented on #34
check this

https://github.com/entria/react-native-view-overflow/issues/25#issuecomment-396294644

[2018-06-21 10:09] #34 closed

[2018-06-27 09:26] EdwardDrapkin opened #35 "Add a note that you may need more than one component in the tree to properly cascade overflow upward"
Hey there,

I *love* this component, it's probably saved me 2-3 days of refactoring a layout.

That said, I had some issues getting it to work because I to use multiple `<ViewOverflow>` components in the hierarchy to get things to render correctly.  Basically my design has a screen split into two halves (when a menu is open) and icons from the right half (menu icons) are supposed to sit on top of

[2018-06-27 12:01] jgcmarins commented on #35
Hello @EdwardDrapkin. Thanks for reaching out!
PRs improving README are welcome \o/

[2018-06-27 12:21] EdwardDrapkin commented on #35
I'll see what I can do after work and give it some more thought

[2018-06-27 18:17] Fitzpasd opened #36 "No license"
Please add a license to the repository.

[2018-06-27 18:19] sibelius commented on #36
MIT https://github.com/entria/react-native-view-overflow/blob/master/package.json#L9

feel free to send a PR

[2018-07-04 15:14] maxaggedon commented on #25
Ok so I assumed it was working as I was able to build my app, but I just spent the day trying to generate a signed apk for a store release and could not make it work...
There seems to be a lot of people facing problems when upgrading gradle, this issue in the react-native repo is still pretty active:
https://github.com/facebook/react-native/issues/16906

[2018-07-06 13:35] jpbretanha commented on #13
Any news about that issue?

[2018-07-07 20:13] alittletf opened #37 "Invariant Violation: Native component for "RNViewOverflow" does not exist"
Hi there,

I believe I am running into an issue linking the native library.

I first tried `react-native link react-native-view-overflow` and I got the error in the title. I then went though the manual process and found that each step had already been added to the MainActivity.java, MainApplication.java files, settings.gradle files and build.gradle files. I am a bit stuck. Any thoughts why this is

[2018-07-07 20:18] sibelius commented on #37
Check example, your link is wrong

[2018-07-12 02:17] xiaweiss commented on #13
@jpbretanha You can add press listener on father components, then calculate the area of click events, so you will know which child would be clicked

[2018-07-27 02:42] andrefarzat commented on #32
Same here

[2018-07-27 14:10] yeomann opened #38 "Love you man"
After hours and hours of scratching and everything ok on IOS, here's what worked for me on android
[code]

I couldn't find a way to say you thanks so had to open issue. thank you again! <3 😄

[2018-07-27 14:12] sibelius commented on #38
great to hear that

it will probably to fixed sometime in react native core with their new architecture

Best

[2018-07-27 14:12] #38 closed

[2018-07-27 14:14] yeomann commented on #38
I think you should edit the core and send this solution as PR no? @sibelius

[2018-07-27 14:15] sibelius commented on #38
this https://github.com/entria/react-native-view-overflow/issues/32 needs to be fixed first

if you apply `ViewOverflow` everywhere it makes the app very slow as well

[2018-07-27 14:19] yeomann commented on #38
hmmm. I'm currently busy with app development. if possible I will try to look into that issue

[2018-07-27 18:04] yeomann commented on #32
basically what seems to be it that touch events are not happening inside `<ViewOverflow>` such as  `TouchableOpacity` someone give a hint for where to look pls?

[2018-07-27 19:13] yeomann commented on #32
my knowledge of android is java is none, but I think maybe after you set Clip ` ((ViewGroup) getParent()).setClipChildren(false);` you need to check for touch event, something like this
[code]

and that set touch delegate can be wrapped as
[code]

ain't sure how to solve really. I wish now I knew some more native code any help? @sibelius

[2018-07-28 11:12] yeomann commented on #13
any example? @xiaweiss a lot of people are struggling, I tried some java code with `onTouchEvent(MotionEvent event) ` but was unsuccessful

ref: https://github.com/entria/react-native-view-overflow/issues/32

[2018-08-13 01:37] menq opened #39 "cannot build"
FAILURE: Build failed with an exception.

* Where:
Build file '/Users/mq/Documents/Lucky/Lucky/node_modules/react-native-view-overflow/android/build.gradle' line: 5

* What went wrong:
A problem occurred evaluating project ':react-native-view-overflow'.

[2018-08-13 02:09] sibelius commented on #39
Upgrade to gradle 3

[2018-08-13 02:09] #39 closed

[2018-08-21 13:34] Saksham96 commented on #13
We can use images or icons for view overflow whenever possible as this seems to work fine for me.

[2018-08-23 23:43] SZanetti opened #40 "No Border Radius When Used In Combination With react-native-animatable"
I am using this in combination with `react-native-animatable` in this way (as suggested in the documentation):
[code]
The animation and overflow both work, but I cannot apply a border radius to the `AnimatedViewOverflow` element and attempting any encapsulation of the data with a border radius stops content from overflowing.

Using:
[code]

[2018-08-24 10:32] ducvu91 commented on #30
I check example code build.gradle and  it still error.

[2018-08-24 10:50] ducvu91 opened #41 "Could not find method google() for arguments [] on repository container of type org.gradle.api.internal.artifacts.dsl.DefaultRepositoryHandler."
Hi My Info.
I still Error. Pls help me :(
"dependencies": {
"react": "16.4.1",
"react-native": "0.55.4",
}

"devDependencies": {
    "babel-jest": "23.2.0",
    "babel-preset-react-native": "^2.1.0",
    "jest": "23.3.0",
    "react-test-renderer": "16.4.1",
    "rn-nodeify": "github:tradle/rn-nodeify"
  },

1. android/app/src/main/java/[...]/MainApplication.java

package com.mobisalefcam;

import

[2018-08-24 11:39] sibelius commented on #41
Check example code build.gradle and closed issues

Also provide a repository to reproduce this issue

[2018-08-24 11:39] #41 closed

[2018-08-24 19:44] SZanetti commented on #40
Hello!

I was able to resolve my problem by following this advice: https://github.com/entria/react-native-view-overflow/issues/10#issuecomment-392323613

My `RNViewOverflowManager.java` file ended up looking like this:
[code]
I added the multiplier of `3.5f` because the border radius I applied appeared more slight than other border radii.

[2018-08-24 19:44] #40 closed

[2018-09-06 15:13] erksch opened #43 "Can't get ViewOverflow to work"
I have a really simple problem: I want an absoluted View to overflow it's parent.
I found this package and was glad that it would solve my problem (since it's not working in android) but I couldn't get it to work.

The following inner View should overflow the outer View (minimal example):

[code]

I tried every combination of inserting `<ViewOverflow>` or replacing the `<View>` with `<ViewOverflow

[2018-09-06 16:58] jgcmarins commented on #43
follow this: https://github.com/entria/react-native-view-overflow#react-native-view-overflow

[2018-09-06 17:15] sibelius commented on #43
can you post an image of what are you doing?

can you create a repro for this?

[2018-09-07 10:35] erksch commented on #43
@sibelius I managed to get it to work after playing around in a demo project. The problem seemed to be that the reloading was not really updating changes made with `<ViewOverflow />` so I had to rebuild most of the time.

So, this issue can be closed :+1:

[2018-09-07 12:14] #43 closed

[2018-09-11 13:13] Ehsan0007 commented on #37
same issue "RNViewOverflow" does not exist

[2018-09-11 13:15] sibelius commented on #37
try to run example https://github.com/entria/react-native-view-overflow/tree/master/ViewOverflowExample , if example runs you linking is wrong

[2018-09-11 13:15] #37 closed

[2018-10-04 04:31] IAmMarcellus commented on #13
@Saksham96 Could you give an example of what you mean? I'm a little bit confused as to how you used an icon for view overflow.

[2018-10-10 18:35] alfonsosn commented on #13
Yeah this issue is happening to me, while I'm trying to use it along `react-navigation`. I have a tab bar at the bottom of my screen, accompanied with the `react-native-action-button` floating on top of it; which I cannot press. The parent component of it is the tab-bar, wrapped in a `<ViewOverflow>` and while I've tried setting the zIndex and elevation, I'm afraid that the underlying reason I can

[2018-10-18 16:40] juanzone opened #45 "Child can't be bigger thant parent"
If my ViewOverFlow is 100x100, my children can't be 200x200, the max width and height are the dimensions of the parent.

Could be really cool if you fix that :)

[2018-10-20 06:53] bear-junior opened #46 "borderRadius issue"
What's status of this issue?

How to add following code:

import com.facebook.react.uimanager.annotations.ReactProp;

@ReactProp(name = "borderRadius", defaultFloat = 0f)
   public void setBorderRadius(RNViewOverflowLayout view, float borderRadius) {
       view.setBorderRadius(borderRadius);
   }

for now it doesn't work, how should RNViewOverflowManager.java file look like?

[2018-10-22 13:14] jgcmarins commented on #46
hello @bear-junior , could you make this idea clearer?

[2018-10-22 17:56] rafaelsplima commented on #37
same issue "RNViewOverflow" does not exist

[2018-11-02 09:29] xiaweiss commented on #45
@juanzone use absolute position
https://github.com/entria/react-native-view-overflow/issues/13

[2018-11-11 21:14] #26 closed

[2018-11-19 15:47] filipef101 commented on #13
bump

[2018-11-20 16:41] Xifeat commented on #13
I've the same trouble, didn't find any answer

[2018-11-20 17:44] kevinNejad commented on #13
@Xifeat whar rn version you are using.
as far as I remeber they have fixed the android overflow issue in the latest rn version.
So you shoudnt need to use react-native-view-overflow anymore.
https://github.com/react-native-community/react-native-releases/blob/master/CHANGELOG.md#android-specific-changes-2

[2018-11-27 15:50] Xifeat commented on #13
@kevinNejad I updated All my library and react native 0.57.5 but it's stil not working.
I followed this tutorial https://itnext.io/react-native-tab-bar-is-customizable-c3c37dcf711f

With this branch : https://github.com/alex-melnyk/Tabber/tree/overflow_fixed
But when I press my console.log is never written when I use overflow

[2018-11-27 15:53] ciriac commented on #13
@kevinNejad @Xifeat It looks like react-native only added support for`overflow: visible`.

Click events on this view are still not working.

[2018-11-30 20:07] michaelmika commented on #46
I solved it by simply wrapping a standard `View` component with the border-style inside of a `ViewOverflow` component and set the background of the parent view to transparent.

[2018-11-30 21:06] michaelmika commented on #32
Touch-Feature is crucial for 99% of all overflow implementations. Is there really no way??

[2018-12-04 18:50] jacoblukose opened #48 "Overflow not working."
My view component:
[code]
Used with overflow :

[code]
But the above doesnt seem to work.

[code]

[2018-12-04 19:02] jgcmarins commented on #48
do you have any ss?

[2018-12-04 19:14] jacoblukose commented on #48
what is ss @jgcmarins

[2018-12-04 19:47] jgcmarins commented on #48
that's it \o/

[2018-12-07 13:50] gokujy commented on #25
I am getting the same error:
Could not find method google() for arguments [] on repository container
Solve: I'm working on firebase crud and i installed angularfire2 and firebase plugin both.
So i uninstall firebase and error solved, i mean this error coming because conflict.

[2018-12-14 14:07] KowalskiP commented on #32
I have the same problem

[2018-12-18 10:03] pedrobullo commented on #48
You should put in parent directly. Just nest overflowview

[2018-12-20 15:05] tasosxak commented on #13
I have the same problem. Any news about this issue?

[code]

I use TouchableOpacity & Animated.View classes from react-native.

[2018-12-20 15:20] filipef101 commented on #13
@tasosxak It simply is not possible on android. try do do it some other way.

[2018-12-27 10:13] KitYeungDev opened #49 "Compile error: could not find manifest-merger.jar"
Compile error: react-native-view-overflow could not find manifest-merger.jar (com.android.tools.build:manifest-merger:26.1.0)

After manual update the build.gradle(path: ../nodu_modules/react-native-view-overflow/android/) config 'com.android.tools.build:gradle:3.1.0' to 'com.android.tools.build:gradle:3.1.3', without above compile error

[2019-01-16 16:42] LucasLpr commented on #49
Same issue

[2019-01-16 16:42] LucasLpr commented on #49
The lib did work perfectly untill today ...

[code]

[2019-01-16 17:24] jgcmarins commented on #49
did you update any version?
RN version? buildToolsVersion? targetSdkVersion?

[2019-01-16 17:27] LucasLpr commented on #49
OK I just delete the gradle folder and launch the reinstall with react-native run-android and it did the tricks !

[2019-01-21 11:22] #49 closed

[2019-02-18 11:44] userbq201 commented on #13
+1

[2019-02-18 11:47] filipef101 commented on #13
@userbq201 Does your brain work? Can you read? why are you spamming a +1? Don't you have anything better to do? It's useless. Don't bother. This will never work, not possible.

[2019-02-18 11:47] filipef101 commented on #13
@xiaweiss You can close the issue. Not possible

[2019-02-18 11:50] kevinNejad commented on #13
@filipef101 what's wrong with you ? someone else is having the same problem. I will work if you know how to fix it. You just need to get your hand dirty with a bit of native code. chill out!

[2019-02-18 11:55] filipef101 commented on #13
It is not possible, it's something android doesnt do

[2019-02-18 12:00] kevinNejad commented on #13
@filipef101 tbh, I attempted to use this library a while ago but it as far as I remember the click event was working. at the end, I had to write a native component and bridge it into RN. Its true that it's sth that RN android does not support atm. but it will be possible to implement it in native and use the component in RN. However, it may not be a good idea to do for big scale project.

[2019-02-20 10:52] Usamamalik007 opened #50 "A problem occurred configuring project ':react-native-view-overflow'."
A problem occurred configuring project ':react-native-view-overflow'.

     Searched in the following locations:
         https://jcenter.bintray.com/com/android/tools/build/manifest-merger/26.1.0/manifest-merger-26.1.0.jar

     Searched in the following locations:
         https://jcenter.bintray.com/com/android/tools/ddms/ddmlib/26.1.0/ddmlib-26.1.0.jar

     Searched in the following locations

[2019-02-20 11:08] sibelius commented on #50
Recheck your linking

[2019-02-20 11:12] Usamamalik007 commented on #50
If you could please elaborate a little.

[2019-02-20 11:41] sibelius commented on #50
try to run react-native link again

I think the link part is wrong

[2019-02-20 11:54] Usamamalik007 commented on #50
I have, it has been linked successfully but still the problem is same.

[2019-02-21 02:49] Liqiankun commented on #13
Same issue! Anyone solved it ?

[2019-02-21 07:12] xiaweiss commented on #13
![image](https://user-images.githubusercontent.com/17960084/53149891-0db38900-35ea-11e9-8487-7b17ed515e87.png)

Add a TouchableWithoutFeedback wraped all child components(the grey square), then when you touch in the  grey area, in the "onPress" function you can calculate the touch point position.

if the x and y of postion is right, do something

react-native  verison 0.58 supported "overflow:visi

[2019-02-21 07:12] #13 closed

[2019-02-24 05:46] hadnet commented on #48
Same thing here, it does not work.

[2019-02-25 10:01] httol commented on #32
@ethanyuwang Do you have any solutions?

[2019-03-09 01:01] Surangaup commented on #32
Anyone found a solution for this? I have the same problem.

[2019-03-25 08:43] junocs commented on #50
I fixed this by adding this to `android/build.gradle`
[code]

[2019-03-25 12:46] jgcmarins commented on #50
@junocs does it makes sense to add this info to docs?

[2019-03-26 15:03] Dror-Bar commented on #32
Yikes... this was literally the reason why I needed this library, and it seems no one has even found a workaround. Disappointing.

[2019-03-26 17:40] ShaMan123 commented on #32
I think you should try react-native-gesture-handler. Might be relevant. Not
sure though.

בתאריך יום ג׳, 26 במרץ 2019, 17:03, מאת Dror-Bar ‏<notifications@github.com

[2019-03-26 20:18] felippepuhle commented on #32
@Dror-Bar you could try solving it and send a PR instead of just complain...

[2019-03-27 15:33] Dror-Bar commented on #32
@felippepuhle haha, I guess you are right. I ended up solving my use-case (masonry list) without using this library in the end. Long story short, I had overlapping views using negative margin. This allowed my (touchable) components to look like they were on top of the view above them, and the trick I used was pointerEvents='box-none' to allow the clicking event to register through the top view to

[2019-04-24 14:29] yamankatby opened #52 "Does not overflowing over the views which has elevation"

[2019-07-02 12:39] pixelize commented on #7
@testshallpasswork @xiaweiss @sibelius is seems not working anymore, in addition CellRendererComponent props is no more supported on `FlatList`

[2019-07-02 13:30] xiaweiss commented on #7
@pixelize Try to use the latest version of React Native ?
The Newer version fixed this problem with same way, so you do not need react-native-view-overflow now.

[2019-07-02 14:51] pixelize commented on #7
@xiaweiss i'm using RN 0.59.10

[code]

but still can't view shadow from elevation :(

[2019-07-02 15:37] xiaweiss commented on #7
Emmm..... Maybe shadow problem in Android, elevation can not work good both in Android and  iOS

发自我的iPhone

------------------ Original ------------------
From: Gauthier <notifications@github.com>
Date: Tue,Jul 2,2019 10:51 PM
To: entria/react-native-view-overflow <react-native-view-overflow@noreply.github.com>
Cc: xiaweiss <xiaweiss@foxmail.com>, Mention <mention@noreply.github.com>
Subject: Re:

[2019-07-02 15:42] xiaweiss commented on #7
I used react-native-shadow-view,  it dependence react-native-svg

[2019-07-02 19:42] yairopro commented on #13
Hi @xiaweiss
The solution you gave is still a workaround. The problem is not solved yet, and the issue should be opened I think.
Furthermore the workaround doesn't solve for a case like mine where I need the parent view (the `TouchableWithoutFeedback` in your exemple) to not take place, pushing down views below it, where the button in absolute is placed.

![image](https://user-images.githubusercon

[2019-07-03 07:05] pixelize commented on #7
@xiaweiss i'm gonna have a try with `react-native-shadow-view`, thank you very much for helping !

[2019-07-04 08:22] FRizzonelli commented on #7
@pixelize Any news? I'm tilting so hard. I'm just trying to do a simple flatlist with 3 items and elevation. Shadow is truncated by padding of the list. This makes no sense...

[2019-07-04 12:49] pixelize commented on #7
@FRizzonelli Same here, cannot make it... The only super ugly solution I found is to put extra margin on items so the elevation can be shown :( If you found another proper way, i'm all ears :P

[2019-07-04 13:04] FRizzonelli commented on #7
Same solution I've found, but you cannot use list separator :( Really cringe to me 😭

[2019-07-04 13:21] pixelize commented on #7
Yup, If i find something better, I will let you know for sure :/

Here is my test example 👍

[code]

[2019-07-22 17:09] MayoudP commented on #13
Does anyone found a descent trick for Android ?  This one is a serious issue ! 😓None of the tricks said above works. Since It's kind a trick setup.

[code]
<img width="283" alt="Capture d’écran 2019-07-15 à 17 04 52" src="https://user-images.githubusercontent.com/48682041/61650553-40a29b80-acb4-11e9-8631-54b00ae146d2.png">

Half of the SomeOtherStuff component will be clickable, the one on the t

[2019-07-30 02:18] wangfpp commented on #48
it don't work

[2019-08-05 11:25] CaptainHuangsh opened #53 "Unable to resolve dependency for ':app@CharlesDebug/compileClasspath': Could not resolve project :react-native-view-overflow."
build failed;tips is
Unable to resolve dependency for ':app@CharlesDebug/compileClasspath': Could not resolve project :react-native-view-overflow.

[2019-08-07 12:08] #53 closed

[2019-09-03 08:15] changweining commented on #27
solved it by ”react-native link react-native-view-overflow“

[2019-09-03 17:52] jkdf2 opened #57 "Add note to README about this library being unnecessary since RN v0.57"
Hey, this library really helped us out on React Native v0.54. However, I think you should add a note to the README that React Native supports view overflow for Android for any release covered by this commit:

https://github.com/facebook/react-native/commit/b81c8b51fc6fe3c2dece72e3fe500e175613c5d4

Which is in RN 0.57 and above :)

[2019-09-03 17:54] sibelius commented on #57
is it working without this package?

[2019-09-03 18:03] jkdf2 commented on #57
Yes. We upgraded from v0.54 to v0.59.10 and changed from ViewOverflow to simple React Native View components, and overflow continues to work.

[2019-09-03 18:07] sibelius commented on #57
great, feel free to add a note on README

[2019-09-07 22:04] cagils commented on #57
This information is incorrect, as of RN v0.60 overflow: 'visible' is still not supported on Android. The only thing that is supported is showing the item outside the borderRadius but still no element can overflow their container.

[2019-09-07 22:16] jkdf2 commented on #57
@cagils this is contrary to both my experience and the PR for React Native which I linked. Can you link to an open issue on the React Native GitHub which demonstrates that `overflow: visible` is not supported?

[2019-09-07 22:17] jkdf2 commented on #57
Oh yeah, I didn't link that this issue is closed by my PR #58

[2019-09-07 22:17] #57 closed

[2019-10-14 20:00] lhong375 commented on #13
@xiaweiss just try the TouchableWithoutFeedback, it doesn't work on Android. it actually make the whole view not responding to touch at all.
I think this is still a valid use case that RN not supporting, would be great if we can re-open this.

[2019-10-29 14:59] skantus commented on #13
`TouchableWithoutFeedback` is working for me when I using `View.Animated`.

[2019-11-13 09:04] qalqi commented on #13
PR https://github.com/facebook/react-native/pull/26374 should fix this.

[2019-12-27 07:31] kelvin-dev opened #66 "Unable to build release due to MD5 hash for file content"
D:\Demos\react-native-navigation\playground\android>react-native info
info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.18363
    CPU: (16) x64 Intel(R) Core(TM) i9-9900K CPU @ 3.60GHz
    Memory: 3.68 GB / 15.83 GB
  Binaries:
    Node: 8.14.0 - D:\Program Files\nodejs8\node.EXE
    npm: 6.4.1 - D:\Roaming\npm\npm.CMD
  SDKs:
    Android SDK:
      API Levels: 21,

[2019-12-27 10:03] sibelius commented on #66
It looks like a problem in your configuration

[2019-12-28 10:36] kelvin-dev commented on #66
We didn't change any configuration, just cloned the latest source and evaluated it.
Has anybody duplicated the issue on Windows 10 yet ?

[2020-01-07 22:33] Rutvik17 opened #67 "RNViewOverflow missing homepage in the podspec file for RN >= 0.60"
Pod install fails with the error below,
` The `RNViewOverflow` pod failed to validate due to 1 error:
    - ERROR | attributes: Missing required attribute `homepage`.
    - WARN  | source: The version should be included in the Git tag.
    - WARN  | description: The description is equal to the summary.`
Please update your podspec file.

[2020-03-20 18:04] TheMrZZ commented on #32
I believe [this pull request](https://github.com/facebook/react-native/pull/26374) (from the react-native repo) would fix the issue. However, it's not gaining much traction for now.

[2020-03-24 05:54] #67 closed

[2020-04-22 13:52] SirCameron opened #70 "Children within ViewOverflow are not touchable"
Adding a child with TouchableHighlight or similar inside the ViewOverflow view results in touch events not working.

Which truly renders this tool, as helpful as it is, useless.

[2020-04-27 02:36] AlohaDM commented on #10
Hi, the borderRadius is working but not borderTopLeftRadius/borderTopRightRadius etc...

[2020-07-30 18:19] Rhomennik commented on #13
+1

[2020-12-04 17:28] Patrick-Sawyer commented on #13
In my case i solved this by doing the following, wont work in all cases. As I wanted my component at the top of the screen, I positioned it absolute, top 0, then gave everything else a top margin of the height of the parent View of the component.

[2020-12-24 04:20] BhomaRamGts commented on #70
I facing same issue . @SirCameron .

[2021-01-18 14:15] ghost commented on #13
My issue is solved by using this peackge....
import {TouchableOpacity, ScrollView} from 'react-native-gesture-handler';

[2021-07-06 07:01] jonassahin01 commented on #13
This is a pretty old thread but the issue is still prevalent to this day, after tinkering around to find a fixable solution, I ended up landing on the **zIndex: value**, styling prop, now this isn't an ideal solution, but for now, if anyone encounters this issue, this is a viable solution for some.

[2021-07-31 17:44] Xydon commented on #13
The only solution i have found is to place the object absolutely with the root view and placing the corresponding tag at just before the root view tag ends, also to make it responsive, i have normalised the position with respect to screen sizes, though it works but is not the best solution to consider.

[2022-09-19 19:39] PunainenAurinko opened #82 "This does not work as described"
Tried using <ViewOverflow> component to be able to use negative margins on Android and it did nothing. Absolutely useless.